databases
log
logs
cache
.cache
caches
.env
MediaCover
*.key
*.pub
*.cert
*.sqlite3
acme.json
openvpn-credentials.txt
transmission-credentials.txt
repositories
apps/torrentvpn/data
torrents
resume
*.db
*.log
credentials.conf
servers/authelia/users_database.yml
cache
db
Backups
incomplete
@eaDir
.DS_Store
rename.sh_*
*.1
*.2
*.3
*.4
*.bak
uploads
avatars
repo-avatars
indexers
queues
attachments
sessions