<Config>
  <LogLevel>info</LogLevel>
  <EnableSsl>True</EnableSsl>
  <Port>8686</Port>
  <SslPort>6868</SslPort>
  <UrlBase>/</UrlBase>
  <BindAddress>*</BindAddress>
  <ApiKey>15974f50177a4170a7879284c91494f3</ApiKey>
  <AuthenticationMethod>None</AuthenticationMethod>
  <Branch>master</Branch>
  <LaunchBrowser>True</LaunchBrowser>
  <SslCertHash></SslCertHash>
  <UpdateMechanism>BuiltIn</UpdateMechanism>
</Config>